#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
menu "Realtek Display Driver"

config REALTEK_DISPLAY
    bool "Enable Realtek Display Driver"
    default n
    help
        This config for realtek display driver

config REALTEK_DISPLAY_GUI_ACC
	bool "Enable Realtek Display GUI Acc"
    depends on REALTEK_DISPLAY && REALTEK_HONEYGUI
    default n

config REALTEK_DISPLAY_ENABLE_IDU
    bool "Enable Realtek IDU"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_JDI
    bool "Enable Realtek JDI"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_LCDC
    bool "Enable Realtek LCDC"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_MIPI
    bool "Enable Realtek MIPI"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_PPE
    bool "Enable Realtek PPE"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_SEGCOM
    bool "Enable Realtek SEGCOM"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_DISPLAY_ENABLE_JPU
    bool "Enable Realtek JPU"
    depends on REALTEK_DISPLAY
    default n

config REALTEK_LCD_SH8601Z_410_502_QSPI
	bool "Enable Realtek LCD Device Driver 410 502"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_ST77916_360_360_QSPI
	bool "Enable Realtek LCD Device Driver 360 360"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_ICNA3310_466_466_QSPI
	bool "Enable Realtek LCD Device Driver 466 466"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_SH8601Z_454454_QSPI
	bool "Enable Realtek LCD Device Driver 454 454"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_SH8601Z_466_466_QSPI
	bool "Enable Realtek LCD Device Driver 466 466"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_ST7801N_466_466_QSPI
	bool "Enable Realtek LCD Device Driver 466 466"
	default n
	help
		This config for realtek display lcd device driver
		
config REALTEK_LCD_ST7265_800_480_RGB
	bool "Enable Realtek LCD Device Driver ST7265 800 480"
	default n
	help
		This config for realtek display lcd device driver ST7265

config REALTEK_LCD_EK9716_800_480_RGB
	bool "Enable Realtek LCD Device Driver EK9716 800 480"
	default n
	help
		This config for realtek display lcd device driver EK9716

config REALTEK_LCD_ST77916_360_360_8080
	bool "Enable Realtek LCD Device Driver 360 360"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_ST7789_170_320_SPI
	bool "Enable Realtek LCD Device Driver 170 320"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_C05300_390_450_QSPI
	bool "Enable Realtek LCD Device Driver C05300 390 450"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_NV3041A_480_272_QSPI
	bool "Enable Realtek LCD Device Driver NV3041A 480 272"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_LCD_HX8369_480_480_RGB
	bool "Enable Realtek LCD Device Driver HX8369 480 480"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_ST7701S_480_480_RGB
	bool "Enable Realtek LCD Device Driver ST7701S 480 480"
	default n
	help
		This config for realtek display lcd device driver

config REALTEK_TOUCH_CHSC6417
	bool "Enable Realtek Touch Device CHSC6417"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CHSC6413
	bool "Enable Realtek Touch Device CHSC6413"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CHSC6417_ZEPHYR
	bool "Enable Realtek Touch Device CHSC6417 with Zephyr code style"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CHSC6413_ZEPHYR
	bool "Enable Realtek Touch Device CHSC6413 with Zephyr code style"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_GT911
	bool "Enable Realtek Touch Device GT911"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CST816D
	bool "Enable Realtek Touch Device CST816D"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CST820
	bool "Enable Realtek Touch Device CST820"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CST816D_ZEPHYR
	bool "Enable Realtek Touch Device CST816D with Zephyr code style"
	default n
	help
		This config for realtek touch device driver

config REALTEK_TOUCH_CST820_ZEPHYR
	bool "Enable Realtek Touch Device CST820 with Zephyr code style"
	default n
	help
		This config for realtek touch device driver

config REALTEK_KEY_BUTTON
	bool "Enable Realtek Key/Button Device"
	default n
	help
		This config for realtek Key/Button device driver

config REALTEK_KEY_BUTTON_8773G
	bool "Enable Realtek Key/Button Device (RTL8773G)"
	select REALTEK_KEY_BUTTON
	default n
	help
		This config for realtek Key/Button device driver

config REALTEK_KEY_BUTTON_8773G_ZEPHYR
	bool "Enable Realtek Key/Button Device (RTL8773G, Zephyr code style)"
	select REALTEK_KEY_BUTTON
	select GPIO
	select GPIO_ENABLE_DISABLE_INTERRUPT
	default n
	help
		This config for realtek Key/Button device driver.
		The Zephyr-style driver uses gpio_pin_interrupt_configure_dt() with
		GPIO_INT_MODE_ENABLE_ONLY/DISABLE_ONLY which require
		CONFIG_GPIO_ENABLE_DISABLE_INTERRUPT (whose own dependency on
		CONFIG_GPIO must also be satisfied).

config REALTEK_KEY_BUTTON_8773E
	bool "Enable Realtek Key/Button Device (RTL8773E)"
	select REALTEK_KEY_BUTTON
	default n
	help
		This config for realtek Key/Button device driver

config REALTEK_KEY_BUTTON_8772F
	bool "Enable Realtek Key/Button Device (RTL8772F)"
	select REALTEK_KEY_BUTTON
	default n
	help
		This config for realtek Key/Button device driver

endmenu